<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <img src="/icons/lock.png" width="86px" height="86px" alt="">
    <h1 class="title">Welcome to C@#$% </h1>
    <form class="form" action="" method="post">
        <input class="text-input" name="msg" type="text" placeholder="enter your message" />
        <input class="btn" type="submit" value="submit">
    </form>
    <div class="strip">
        <div class="icon">
            <img src="./icons/lock_white.png" alt="no icons" >
        </div>
        <div class="content">
            <p><span class="strong" >Original :</span>hello world</p>
            <p><span class="strong" >Cypher  &nbsp :</span>hgdhgjfdhghgkhfdgkhgkfhkhgkfdhgkfhkhgfhghhdhg</p>
        </div>
    </div>
</div>
</body>
</html>
